# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\shian\Desktop\Software delveopment\Java\SoftDev1\Text Base Game Project\Team Justice League\Project Presentations\Bullet Train Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
